@charset "utf-8";

    a:link { color: blue; text-decoration: none; }
    a:visited { color: purple; text-decoration: none; }
    a:hover { color: red; text-decoration: underline; }
    a:active { color: white; background-color: green; }


html { font-size: 10px; }
.jb-xx-large { font-size: 3rem; }
.jb-x-large { font-size: 2.5rem; }
.jb-large { font-size: 2rem; }
.jb-normal { font-size: 1.6rem; }
.jb-small { font-size: 1.25rem; }
.p-font { font-size: 1.8rem; }
